<router-outlet></router-outlet>

<header>
  <div class="header-container">

    <div class="nav nav-left">
      <span class="title title-logo">CP4-MARKETING</span>
      <span class="title">About</span>
      <span class="title">Our Services</span>
      <span class="title">Contact</span>
    </div>

    <div class="nav nav-right">
      <!-- buttons -->
      <div class="buttons">
        <button type="button" class="btn">
          <span class="ico ico-refresh"></span>
          <span style="width: 100%;">Login</span>
        </button>
        <button type="button" class="btn active">
          <span class="ico ico-download"></span>
          <span>Register</span>
        </button>
      </div>
    </div>

  </div>
</header>

<div style="height: 700px; width: 100%">
  <img src="../assets/main.jpg" style="height: 100%; width: 100%"/>
</div>
<div class="container">
  <div class="row services">
    <span>Our Services</span>
  </div>
  <div class="col-sm-12">
    <div class="row text-center">
      <!--   marketing & sales   -->
      <div class="col-sm-4">
        <mat-card class="example-card">
          <img mat-card-image src="../assets/image1.jpeg" alt="sss"/>
          <mat-card-header>
            <mat-card-title>Marketing & Sales</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              We will develop an effective sales and marketing strategy to help you achieve significant results
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>More</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <!--   marketing & sales   -->
      <div class="col-sm-4">
        <mat-card class="example-card">
          <img mat-card-image src="../assets/image2.jpeg" alt="sss"/>
          <mat-card-header>
            <mat-card-title>Lead Generation</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              We use the most sufficient and effective ways for lead generation via various platforms.
              We guarantee high quality leads to meet the needs of your business.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>More</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <!--   marketing & sales   -->
      <div class="col-sm-4">
        <mat-card class="example-card">
          <img mat-card-image src="../assets/image3.jpeg" alt="sss"/>
          <mat-card-header>
            <mat-card-title>Social Marketing</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              We do a thorough and detailed research to make social marketing campaigns.
              We take into consideration all possible benefits consumers can get from your product.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>More</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  <!--<div class="row">
    <div class="col-sm text-center background-sample">
      <span>Innovative marketing strategy to get rewarding results</span>
    </div>
  </div>-->
</div>

<div class="row about">
  <div class="container">
    <span style="font-size: 50px">About Us</span>
    <div class="col-sm-12">
      <div class="about-content">
        Technology guarantees an individual approach to every client,
        check out the list of our services and learn more about what we do.
        Our goal at cp4-marketing as we work with different publishers is the ability to provide you the best
        strategies,
        data and advice to drive the maximum of your ROI.
        With us you will have access to special offers through advanced advertisers that work only with us.
      </div>
    </div>
  </div>
</div>

<div class="row contact">
  <div class="container">
    <span style="font-size: 50px">Contact Us</span>
    <div class="row">
      <div class="col-sm-6">
        <div class="col-sm-12">
          <input type="text" class="form-control" placeholder="first name"/>
        </div>
        <div class="col-sm-12">
          <input type="text" class="form-control" placeholder="last name"/>
        </div>
        <div class="col-sm-12">
          <input type="text" class="form-control" placeholder="email"/>
        </div>
        <div class="col-sm-12">
          <input type="text" class="form-control" placeholder="phone"/>
        </div>
      </div>
      <div class="col-sm-6">
        <textarea class="form-control" style="height: 220px" placeholder="message"></textarea>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="offset-3 col-sm-6">
        <button class="btn btn-dark" style="width: 100%">Send</button>
      </div>
    </div>
  </div>
</div>
